.container{
    background-image: url(../images/red-bar-black-white-red.jpg);
    background-size: 100%;
}

.containerBack{
    background-color: rgba(0, 0, 0, 0.466);
}

.logo{
    font-size: 200%;
    text-align: center;
    color: whitesmoke;
    padding-top: 2%;
    padding-bottom: 1%;
}

.logoText{
    font-size: 100%;
    text-align: center;
    color: whitesmoke;
    padding-bottom: 4%;
}

.userInputLabel{
    background-color:rgb(151, 36, 36);
    color: whitesmoke;
    width: 9.5%;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 0%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: grey;
}

.friendInputLabel{
    background-color:rgb(151, 36, 36);
    color: whitesmoke;
    width: 11%;
    text-align: center;
    margin-bottom: 0%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: grey;
}

.locationLabel{
    background-color:rgb(151, 36, 36);
    color: whitesmoke;
    width: 21%;
    text-align: initial;
    padding-left: .5%;
    margin-bottom: 0%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: grey; 
}

::-webkit-input-placeholder{
    color: red;
}
:-ms-input-placeholder{
    color: red;
}
::-moz-placeholder{
    color:red;
    opacity: 1;
}
:-moz-placeholder{
    color: red;
    opacity: 1;
}

.form-control{
    background-color: grey;
    border: 1.25px solid rgb(151, 36, 36);
    border-top-left-radius: 0%;
}

.btn-secondary{
    border: 0px;
    background-color: rgb(151, 36, 36);
    color: whitesmoke;
    margin-bottom: 1%;
}

.btn-danger{
    border: 0px;
    background-color: rgb(151, 36, 36);
    color: whitesmoke;
    margin-bottom: 1%;
}

.dropdownCol{
padding-bottom: 2%;
}

#googleMap{
    border-top: 1px solid  rgb(151, 36, 36);
    background-image: url(../images/google-map.jpg);
    color: whitesmoke;
    height: 350px;
    border-bottom: 2px solid  rgb(151, 36, 36);
}

#listHeader{
    margin-top: 3%;
    padding: top 1%;
    border: 0px;
    background-color: rgb(151, 36, 36);
}

.table{
    margin-left: 0%;
}

tr{
    background-color: grey;
}

.footerCol{
    border-top: 2px solid  rgb(151, 36, 36);
    background-image: url(../images/1-.jpg);
    padding:5%;

}

.footerText{
    color: white;
    text-align: center;
    font-size: 300%;
}