.container{
    background-image: url(../images/red-bar-black-white-red.jpg);
    background-size: 100%;
}

.containerBack{
    background-color: rgba(0, 0, 0, 0.466);
}

/* ROW Logo*/

.logoStart{
    max-width: 20%;
    margin-left: 31%;
}

.logoSymbol{
    animation-duration: 3s;
    animation-delay: .25s;
    animation-iteration-count: initial;
    max-width: 8%;
    margin-bottom: 2%;
    margin-left: 1%;
    margin-top: 2%;
}

.logoEnd{
    max-width: 5%;
    margin-left: 1%;
}

.logoText{
    font-family: 'Lato', sans-serif;
    font-size: 200%;
    text-align: center;
    color: whitesmoke;
    padding-bottom: 4%;
}

/*ROW2*/

.userInputLabel{
    font-family: 'Roboto', sans-serif;
    background-color:rgb(151, 36, 36);
    color: whitesmoke;
    width: 22%;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 0%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: grey;
}

.friendInputLabel{
    font-family: 'Roboto', sans-serif;
    background-color:rgb(151, 36, 36);
    color: whitesmoke;
    width: 22%;
    text-align: center;
    margin-bottom: 0%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: grey;
}

.locationLabel{
    font-family: 'Roboto', sans-serif;
    background-color:rgb(151, 36, 36);
    color: whitesmoke;
    width: 22%;
    text-align: center;
    padding-left: .5%;
    margin-bottom: 0%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: grey; 
}

.form-control{
    background-color: rgb(187, 187, 187);
    border: 1.25px solid rgb(151, 36, 36);
    border-top-left-radius: 0%;
}

.btn-secondary{
    width: 100%;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: initial;
    font-family: 'Roboto', sans-serif;
    border: 0px;
    background-color: rgb(151, 36, 36);
    color: whitesmoke;
    margin-bottom: 1%;
}

.btn-danger{
    width: 100%;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: initial;
    font-family: 'Roboto', sans-serif;
    border: 0px;
    background-color: rgb(151, 36, 36);
    color: whitesmoke;
    margin-bottom: 1%;
}

.dropdownCol{
padding-bottom: 2%;
}

/*ROW3*/

#googleMap{
    border-top: 1px solid  rgb(151, 36, 36);
    color: whitesmoke;
    height: 350px;
    border-bottom: 2px solid  rgb(151, 36, 36);
}

.submitReset{
    margin-top: 2%;
}
/*ROW4,5,6,7*/

#listHeader{
    font-family: 'Roboto', sans-serif;
    margin-top: 3%;
    padding: top 1%;
    border: 0px;
    background-color: rgb(151, 36, 36);
}

#weatherHeader{
    font-family: 'Roboto', sans-serif;
    margin-top: 1%;
    padding: top 1%;
    border: 0px;
    background-color: rgb(151, 36, 36);
}

table{
    margin-bottom: 2%;
}

tr{
    background-color: rgb(187, 187, 187);
}

th{border-left: 1px solid rgba(151, 36, 36, 0.226);
    font-family: 'Roboto', sans-serif;
    font-size:110%;
}

td{
    font-family: 'Lato', sans-serif;
}

.footer{
    border-top: 2px solid  rgb(151, 36, 36);
    background-image: url(../images/1-.jpg);
    padding:5%;
    background-size: 100%;
}

.footerText{
    font-family: 'Cabin', sans-serif;
    color: white;
    text-align: center;
    font-size: 250%;
}

.creatorTextBold{
    font-family: 'Lato', sans-serif;
    color: whitesmoke;
    margin: 0%;
}

.creatorText{
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    margin: 0%;
}

.block1{
    border-radius: 3px;
    background-color: whitesmoke;
    width: 15%;
    height:15%;
    margin-top: 4%;
    margin-left: 70%;
}

.block2{
    border-radius: 3px;
    background-color:rgb(151, 36, 36);
    width: 15%;
    height:15%;
    margin-left: 70%;
    margin-top: 4%;
}

.block3{
    border-radius: 3px;
    background-color:rgb(187, 187, 187);
    width: 15%;
    height:15%;
    margin-left: 70%;
    margin-top: 4%;
}

.block4{
    border-radius: 3px;
    background-color:rgb(250, 233, 136);
    width: 15%;
    height:15%;
    margin-left: 70%;
    margin-top: 4%;
}

/*RESPONSIVE*/

@media (max-width:1200px){
    .logoStart{
        margin-left: 32%;
    }
    
    .logoSymbol{
        max-width: 10%;
        margin-bottom: 3%;
    }
    
    .logoEnd{
        margin-left: 0%
    }

    #googleMap{
        border-top: 1px solid  rgb(151, 36, 36);
        color: whitesmoke;
        height: 350px;
        border-bottom: 2px solid  rgb(151, 36, 36);
    }

    .footerText{
        font-family: 'Cabin', sans-serif;
        color: white;
        text-align: center;
        font-size: 225%;
    }
}


@media (max-width:1100px){

    .logoStart{
        max-width: 20%;
        margin-left: 31%;
    }
    
    .logoSymbol{
        animation-duration: 3s;
        animation-delay: .25s;
        animation-iteration-count: initial;
        max-width: 8%;
        margin-bottom: 2%;
        margin-left: 1%;
        margin-top: 2%;
    }
    
    .logoEnd{
        max-width: 5%;
        margin-left: 1%;
    }
    
    .logoText{
        font-family: 'Lato', sans-serif;
        font-size: 200%;
        text-align: center;
        color: whitesmoke;
        padding-bottom: 4%;
    }
    
    .locationLabel{
        font-family: 'Roboto', sans-serif;
        background-color:rgb(151, 36, 36);
        color: whitesmoke;
        width: 22%;
        text-align: center;
        padding-left: .5%;
        margin-bottom: 0%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-color: grey; 
        font-size: 80%;
    }

    #googleMap{
        border-top: 1px solid  rgb(151, 36, 36);
        color: whitesmoke;
        height: 350px;
        border-bottom: 2px solid  rgb(151, 36, 36);
    }

    .table th{
        font-family: 'Roboto', sans-serif;
        font-size:10%;
        padding: 2%;
    }

    .footerText{
        font-family: 'Cabin', sans-serif;
        color: white;
        text-align: center;
        font-size: 225%;
    }
}


@media (max-width:1024px){

    .logoStart{
        max-width: 20%;
        margin-left: 31%;
    }
    
    .logoSymbol{
        animation-duration: 3s;
        animation-delay: .25s;
        animation-iteration-count: initial;
        max-width: 8%;
        margin-bottom: 2%;
        margin-left: 1%;
        margin-top: 2%;
    }
    
    .logoEnd{
        max-width: 5%;
        margin-left: 1%;
    
    }
    
    .logoText{
        font-family: 'Lato', sans-serif;
        font-size: 200%;
        text-align: center;
        color: whitesmoke;
        padding-bottom: 4%;
    }
    
    .locationLabel{
        font-family: 'Roboto', sans-serif;
        background-color:rgb(151, 36, 36);
        color: whitesmoke;
        width: 22%;
        text-align: center;
        padding-left: .5%;
        margin-bottom: 0%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-color: grey; 
        font-size: 80%;
    }

    #googleMap{
        border-top: 1px solid  rgb(151, 36, 36);
        color: whitesmoke;
        height: 350px;
        border-bottom: 2px solid  rgb(151, 36, 36);
    }

    .table th{
        font-family: 'Roboto', sans-serif;
        font-size:10%;
        padding: 2%;
    }

    .footerText{
        font-family: 'Cabin', sans-serif;
        color: white;
        text-align: center;
        font-size: 225%;
    }
}





@media (max-width:768px){
    .logoStart{
        font-family: 'Cabin', sans-serif;
        font-size: 450%;
        color: whitesmoke;
        margin-left: 30%;
        margin-top: 2%;
    }

    .logoSymbol{
        animation-duration: 3s;
        animation-delay: .25s;
        animation-iteration-count: initial;
        max-width: 8%;
        margin-bottom: 5%;
        margin-top: 7%;
    }
    
    .logoEnd{
        font-family: 'Cabin', sans-serif;
        font-size: 450%;
        color: whitesmoke;
        margin-left: 0%;
        margin-top: 2%;
    }

    .userInputLabel{
        font-family: 'Roboto', sans-serif;
        background-color:rgb(151, 36, 36);
        color: whitesmoke;
        width: 20%;
        text-align: center;
        margin-top: 1%;
        margin-bottom: 0%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-color: grey;
        font-size: 90%;
        padding-bottom: .5%;
        padding-top: .5%;
    }
    
    .friendInputLabel{
        font-family: 'Roboto', sans-serif;
        background-color:rgb(151, 36, 36);
        color: whitesmoke;
        width: 20%;
        text-align: center;
        margin-bottom: 0%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-color: grey;
        font-size: 90%;
        padding-bottom: .5%;
        padding-top: .5%;
    }

    .locationLabel{
        font-family: 'Roboto', sans-serif;
        background-color:rgb(151, 36, 36);
        color: whitesmoke;
        width: 22%;
        text-align: center;
        padding-left: .5%;
        margin-bottom: 0%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-color: grey; 
        font-size: 67%;
        padding-bottom: .5%;
        padding-top: .5%;
    }

    #googleMap{
        border-top: 1px solid  rgb(151, 36, 36);
        color: whitesmoke;
        height: 350px;
        border-bottom: 2px solid  rgb(151, 36, 36);
    }

    .table th{
        font-family: 'Roboto', sans-serif;
        font-size:10%;
        padding: 2%;
    }

    .footerText{
        font-family: 'Cabin', sans-serif;
        color: white;
        text-align: center;
        font-size: 225%;
    }
}


@media (max-width:425px){

    .logoStart{
        margin-left: 30%;
        margin-top: 2%;
    }

    .logoSymbol{
        animation-duration: 3s;
        animation-delay: .25s;
        animation-iteration-count: initial;
        max-width: 8%;
        margin-bottom: 5%;
        margin-top: 7%;
    }
    
    .logoEnd{
        margin-left: 0%;
        margin-top: 2%;
    }

    .userInputLabel{
        font-family: 'Roboto', sans-serif;
        background-color:rgb(151, 36, 36);
        color: whitesmoke;
        width: 30%;
        text-align: center;
        margin-top: 1%;
        margin-bottom: 0%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-color: grey;
        font-size: 82%;
        padding-bottom: .5%;
        padding-top: .5%;
    }
    
    .friendInputLabel{
        font-family: 'Roboto', sans-serif;
        background-color:rgb(151, 36, 36);
        color: whitesmoke;
        width: 30%;
        text-align: center;
        margin-bottom: 0%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-color: grey;
        font-size: 82%;
        padding-bottom: .5%;
        padding-top: .5%;
    }

    .locationLabel{
        font-family: 'Roboto', sans-serif;
        background-color:rgb(151, 36, 36);
        color: whitesmoke;
        width: 40%;
        text-align: center;
        padding-left: .5%;
        margin-bottom: 0%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-color: grey; 
        font-size: 67%;
        padding-bottom: .5%;
        padding-top: .5%;
    }

    #googleMap{
        border-top: 1px solid  rgb(151, 36, 36);
        color: whitesmoke;
        height: 350px;
        border-bottom: 2px solid  rgb(151, 36, 36);
    }

    th{
        font-family: 'Roboto', sans-serif;
        font-size:20%;
    }

    #listHeader{
    font-size: 80%;
    font-family: 'Roboto', sans-serif;
    margin-top: 3%;
    padding: top 1%;
    border: 0px;
    background-color: rgb(151, 36, 36);
    }

    #weatherHeader{
    font-size: 80%;
    font-family: 'Roboto', sans-serif;
    margin-top: 1%;
    padding: top 1%;
    border: 0px;
    background-color: rgb(151, 36, 36);
    }

    p{
        font-size: 50%;
    }

    .footerText{
        font-family: 'Cabin', sans-serif;
        color: white;
        text-align: center;
        font-size: 122%;
    }
}


@media (max-width:375px){

    .logoStart{
        margin-left: 26%;
        margin-top: 2%;
        max-width: 25%
    }

    .logoSymbol{
        animation-duration: 3s;
        animation-delay: .25s;
        animation-iteration-count: initial;
        max-width: 9%;
        margin-bottom: 5%;
        margin-top: 7%;
    }
    
    .logoEnd{
        margin-left: 0%;
        margin-top: 2%;
        max-width: 6.5%
    }

    .userInputLabel{
        font-family: 'Roboto', sans-serif;
        background-color:rgb(151, 36, 36);
        color: whitesmoke;
        width: 30%;
        text-align: center;
        margin-top: 1%;
        margin-bottom: 0%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-color: grey;
        font-size: 82%;
        padding-bottom: .5%;
        padding-top: .5%;
    }
    
    .friendInputLabel{
        font-family: 'Roboto', sans-serif;
        background-color:rgb(151, 36, 36);
        color: whitesmoke;
        width: 30%;
        text-align: center;
        margin-bottom: 0%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-color: grey;
        font-size: 82%;
        padding-bottom: .5%;
        padding-top: .5%;
    }

    .locationLabel{
        font-family: 'Roboto', sans-serif;
        background-color:rgb(151, 36, 36);
        color: whitesmoke;
        width: 40%;
        text-align: center;
        padding-left: .5%;
        margin-bottom: 0%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-color: grey; 
        font-size: 60%;
        padding-bottom: .5%;
        padding-top: .5%;
    }

    #googleMap{
        border-top: 1px solid  rgb(151, 36, 36);
        color: whitesmoke;
        height: 350px;
        border-bottom: 2px solid  rgb(151, 36, 36);
    }

    th{
        font-family: 'Roboto', sans-serif;
        font-size:20%;
    }


    #listHeader{
    font-size: 80%;
    font-family: 'Roboto', sans-serif;
    margin-top: 3%;
    padding: top 1%;
    border: 0px;
    background-color: rgb(151, 36, 36);
    }

    #weatherHeader{
    font-size: 80%;
    font-family: 'Roboto', sans-serif;
    margin-top: 1%;
    padding: top 1%;
    border: 0px;
    background-color: rgb(151, 36, 36);
    }

    p{
        font-size: 50%;
    }

    .footerText{
        font-family: 'Cabin', sans-serif;
        color: white;
        text-align: center;
        font-size: 103%;
    }
}



@media (max-width:360px){
    .logoStart{
        margin-left: 26%;
        margin-top: 2%;
        max-width: 25%
    }

    .logoSymbol{
        animation-duration: 3s;
        animation-delay: .25s;
        animation-iteration-count: initial;
        max-width: 9%;
        margin-bottom: 5%;
        margin-top: 7%;
    }
    
    .logoEnd{
        margin-left: 0%;
        margin-top: 2%;
        max-width: 6.5%
    }

    .userInputLabel{
        font-family: 'Roboto', sans-serif;
        background-color:rgb(151, 36, 36);
        color: whitesmoke;
        width: 30%;
        text-align: center;
        margin-top: 1%;
        margin-bottom: 0%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-color: grey;
        font-size: 82%;
        padding-bottom: .5%;
        padding-top: .5%;
    }
    
    .friendInputLabel{
        font-family: 'Roboto', sans-serif;
        background-color:rgb(151, 36, 36);
        color: whitesmoke;
        width: 30%;
        text-align: center;
        margin-bottom: 0%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-color: grey;
        font-size: 82%;
        padding-bottom: .5%;
        padding-top: .5%;
    }

    .locationLabel{
        font-family: 'Roboto', sans-serif;
        background-color:rgb(151, 36, 36);
        color: whitesmoke;
        width: 40%;
        text-align: center;
        padding-left: .5%;
        margin-bottom: 0%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-color: grey; 
        font-size: 60%;
        padding-bottom: .5%;
        padding-top: .5%;
    }

    #googleMap{
        border-top: 1px solid  rgb(151, 36, 36);
        color: whitesmoke;
        height: 350px;
        border-bottom: 2px solid  rgb(151, 36, 36);
    }

    th{
        font-family: 'Roboto', sans-serif;
        font-size:20%;
    }

    #listHeader{
    font-size: 80%;
    font-family: 'Roboto', sans-serif;
    margin-top: 3%;
    padding: top 1%;
    border: 0px;
    background-color: rgb(151, 36, 36);
    }

    #weatherHeader{
    font-size: 80%;
    font-family: 'Roboto', sans-serif;
    margin-top: 1%;
    padding: top 1%;
    border: 0px;
    background-color: rgb(151, 36, 36);
    }

    p{
        font-size: 50%;
    }

    .footerText{
        font-family: 'Cabin', sans-serif;
        color: white;
        text-align: center;
        font-size: 97%;
    }
}


@media (max-width:320px){
    .logoStart{
        margin-left: 26%;
        margin-top: 2%;
        max-width: 25%
    }

    .logoSymbol{
        animation-duration: 3s;
        animation-delay: .25s;
        animation-iteration-count: initial;
        max-width: 10%;
        margin-bottom: 5%;
        margin-top: 7%;
    }
    
    .logoEnd{
        margin-left: 0%;
        margin-top: 2%;
        max-width: 6.5%
    }

    .logoText{
        font-size: 150%;
    }

    .userInputLabel{
        font-family: 'Roboto', sans-serif;
        background-color:rgb(151, 36, 36);
        color: whitesmoke;
        width: 30%;
        text-align: center;
        margin-top: 1%;
        margin-bottom: 0%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-color: grey;
        font-size: 82%;
        padding-bottom: .5%;
        padding-top: .5%;
    }
    
    .friendInputLabel{
        font-family: 'Roboto', sans-serif;
        background-color:rgb(151, 36, 36);
        color: whitesmoke;
        width: 33%;
        text-align: center;
        margin-bottom: 0%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-color: grey;
        font-size: 82%;
        padding-bottom: .5%;
        padding-top: .5%;
    }

    .locationLabel{
        font-family: 'Roboto', sans-serif;
        background-color:rgb(151, 36, 36);
        color: whitesmoke;
        width: 50%;
        text-align: center;
        padding-left: .5%;
        margin-bottom: 0%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-color: grey; 
        font-size: 60%;
        padding-bottom: 1%;
        padding-top: .5%;
    }

    #googleMap{
        border-top: 1px solid  rgb(151, 36, 36);
        color: whitesmoke;
        height: 350px;
        border-bottom: 2px solid  rgb(151, 36, 36);
    }


    th{
        font-family: 'Roboto', sans-serif;
        font-size:20%;
    }

    #listHeader{
    font-size: 65%;
    font-family: 'Roboto', sans-serif;
    margin-top: 3%;
    padding:3%;
    border: 0px;
    background-color: rgb(151, 36, 36);
    }

    #weatherHeader{
    font-size: 65%;
    font-family: 'Roboto', sans-serif;
    margin-top: 1%;
    padding:3%;
    border: 0px;
    background-color: rgb(151, 36, 36);
    }

    p{
        font-size: 50%;
    }

    .footerText{
        font-family: 'Cabin', sans-serif;
        color: white;
        text-align: center;
        font-size: 83%;
    }
}